
.vs/FpsTestGame/DesignTimeBuild/.dtbcache
.vs/FpsTestGame/v15/.suo
.vs/FpsTestGame/v15/Server/sqlite3/db.lock
.vs/FpsTestGame/v15/Server/sqlite3/storage.ide
.vs/FpsTestGame/v15/Server/sqlite3/storage.ide-shm
.vs/FpsTestGame/v15/Server/sqlite3/storage.ide-wal
Assembly-CSharp.csproj
Assets/mergiInfata.cs
Assets/mergiInfata.cs.meta
Assets/Prefabs/Gun2.prefab
Assets/Scenes/FpsTestScene.unity
Assets/Scripts/Components/InventoryComponent.cs
FpsTestGame.sln
Library/assetDatabase3
Library/InspectorExpandedItems.asset
Library/metadata/0e/0e04d8e5cebf64442b295089cb119d65
Library/metadata/0e/0e04d8e5cebf64442b295089cb119d65.info
Library/metadata/74/746edc4bd37c1024993b12868edacec4
Library/metadata/7e/7e3d918ac05e0c2418e47b5a85d013e6.info
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/ShaderCache/1/137a12b4f62d41928b0680fcfd6d898c.bin
Library/ShaderCache/b/b96c01a421c9b75d7517f5423747c340.bin
obj/Debug/Assembly-CSharp.csproj.CopyComplete
obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
obj/Debug/Assembly-CSharp.csproj.FileListAbsolute.txt
obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
obj/Debug/Assembly-CSharp.dll
obj/Debug/Assembly-CSharp.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Temp/__Backupscenes/0.backup
Temp/bin/Debug/Assembly-CSharp.dll
Temp/bin/Debug/Assembly-CSharp.pdb
Temp/bin/Debug/Boo.Lang.Compiler.dll
Temp/bin/Debug/Boo.Lang.dll
Temp/bin/Debug/Boo.Lang.Parser.dll
Temp/bin/Debug/Boo.Lang.PatternMatching.dll
Temp/bin/Debug/Boo.Lang.Useful.dll
Temp/bin/Debug/ExCSS.Unity.dll
Temp/bin/Debug/mscorlib.dll
Temp/bin/Debug/System.Core.dll
Temp/bin/Debug/System.dll
Temp/bin/Debug/System.Runtime.Serialization.dll
Temp/bin/Debug/System.Xml.dll
Temp/bin/Debug/System.Xml.Linq.dll
Temp/bin/Debug/Unity.Cecil.dll
Temp/bin/Debug/Unity.CecilTools.dll
Temp/bin/Debug/Unity.DataContract.dll
Temp/bin/Debug/Unity.IvyParser.dll
Temp/bin/Debug/Unity.Legacy.NRefactory.dll
Temp/bin/Debug/Unity.Locator.dll
Temp/bin/Debug/Unity.PackageManagerUI.Editor.dll
Temp/bin/Debug/Unity.SerializationLogic.dll
Temp/bin/Debug/Unity.TextMeshPro.dll
Temp/bin/Debug/Unity.TextMeshPro.Editor.dll
Temp/bin/Debug/UnityEditor.dll
Temp/bin/Debug/UnityEditor.StandardEvents.dll
Temp/bin/Debug/UnityEditor.xml
Temp/bin/Debug/UnityEngine.AccessibilityModule.dll
Temp/bin/Debug/UnityEngine.AccessibilityModule.xml
Temp/bin/Debug/UnityEngine.AIModule.dll
Temp/bin/Debug/UnityEngine.AIModule.xml
Temp/bin/Debug/UnityEngine.Analytics.dll
Temp/bin/Debug/UnityEngine.AnimationModule.dll
Temp/bin/Debug/UnityEngine.AnimationModule.xml
Temp/bin/Debug/UnityEngine.ARModule.dll
Temp/bin/Debug/UnityEngine.ARModule.xml
Temp/bin/Debug/UnityEngine.AssetBundleModule.dll
Temp/bin/Debug/UnityEngine.AssetBundleModule.xml
Temp/bin/Debug/UnityEngine.AudioModule.dll
Temp/bin/Debug/UnityEngine.AudioModule.xml
Temp/bin/Debug/UnityEngine.BaselibModule.dll
Temp/bin/Debug/UnityEngine.BaselibModule.xml
Temp/bin/Debug/UnityEngine.ClothModule.dll
Temp/bin/Debug/UnityEngine.ClothModule.xml
Temp/bin/Debug/UnityEngine.CloudWebServicesModule.dll
Temp/bin/Debug/UnityEngine.CloudWebServicesModule.xml
Temp/bin/Debug/UnityEngine.ClusterInputModule.dll
Temp/bin/Debug/UnityEngine.ClusterInputModule.xml
Temp/bin/Debug/UnityEngine.ClusterRendererModule.dll
Temp/bin/Debug/UnityEngine.ClusterRendererModule.xml
Temp/bin/Debug/UnityEngine.CoreModule.dll
Temp/bin/Debug/UnityEngine.CoreModule.xml
Temp/bin/Debug/UnityEngine.CrashReportingModule.dll
Temp/bin/Debug/UnityEngine.CrashReportingModule.xml
Temp/bin/Debug/UnityEngine.DirectorModule.dll
Temp/bin/Debug/UnityEngine.DirectorModule.xml
Temp/bin/Debug/UnityEngine.dll
Temp/bin/Debug/UnityEngine.FacebookModule.dll
Temp/bin/Debug/UnityEngine.FacebookModule.xml
Temp/bin/Debug/UnityEngine.FileSystemHttpModule.dll
Temp/bin/Debug/UnityEngine.FileSystemHttpModule.xml
Temp/bin/Debug/UnityEngine.GameCenterModule.dll
Temp/bin/Debug/UnityEngine.GameCenterModule.xml
Temp/bin/Debug/UnityEngine.GoogleAudioSpatializer.dll
Temp/bin/Debug/UnityEngine.GoogleAudioSpatializer.xml
Temp/bin/Debug/UnityEngine.GridModule.dll
Temp/bin/Debug/UnityEngine.GridModule.xml
Temp/bin/Debug/UnityEngine.HoloLens.dll
Temp/bin/Debug/UnityEngine.HoloLens.xml
Temp/bin/Debug/UnityEngine.HotReloadModule.dll
Temp/bin/Debug/UnityEngine.HotReloadModule.xml
Temp/bin/Debug/UnityEngine.ImageConversionModule.dll
Temp/bin/Debug/UnityEngine.ImageConversionModule.xml
Temp/bin/Debug/UnityEngine.IMGUIModule.dll
Temp/bin/Debug/UnityEngine.IMGUIModule.xml
Temp/bin/Debug/UnityEngine.InputModule.dll
Temp/bin/Debug/UnityEngine.InputModule.xml
Temp/bin/Debug/UnityEngine.JSONSerializeModule.dll
Temp/bin/Debug/UnityEngine.JSONSerializeModule.xml
Temp/bin/Debug/UnityEngine.LocalizationModule.dll
Temp/bin/Debug/UnityEngine.LocalizationModule.xml
Temp/bin/Debug/UnityEngine.Networking.dll
Temp/bin/Debug/UnityEngine.Networking.xml
Temp/bin/Debug/UnityEngine.ParticlesLegacyModule.dll
Temp/bin/Debug/UnityEngine.ParticlesLegacyModule.xml
Temp/bin/Debug/UnityEngine.ParticleSystemModule.dll
Temp/bin/Debug/UnityEngine.ParticleSystemModule.xml
Temp/bin/Debug/UnityEngine.PerformanceReportingModule.dll
Temp/bin/Debug/UnityEngine.PerformanceReportingModule.xml
Temp/bin/Debug/UnityEngine.Physics2DModule.dll
Temp/bin/Debug/UnityEngine.Physics2DModule.xml
Temp/bin/Debug/UnityEngine.PhysicsModule.dll
Temp/bin/Debug/UnityEngine.PhysicsModule.xml
Temp/bin/Debug/UnityEngine.ProfilerModule.dll
Temp/bin/Debug/UnityEngine.ProfilerModule.xml
Temp/bin/Debug/UnityEngine.ScreenCaptureModule.dll
Temp/bin/Debug/UnityEngine.ScreenCaptureModule.xml
Temp/bin/Debug/UnityEngine.SharedInternalsModule.dll
Temp/bin/Debug/UnityEngine.SharedInternalsModule.xml
Temp/bin/Debug/UnityEngine.SpatialTracking.dll
Temp/bin/Debug/UnityEngine.SpatialTracking.xml
Temp/bin/Debug/UnityEngine.SpriteMaskModule.dll
Temp/bin/Debug/UnityEngine.SpriteMaskModule.xml
Temp/bin/Debug/UnityEngine.SpriteShapeModule.dll
Temp/bin/Debug/UnityEngine.SpriteShapeModule.xml
Temp/bin/Debug/UnityEngine.StandardEvents.dll
Temp/bin/Debug/UnityEngine.StreamingModule.dll
Temp/bin/Debug/UnityEngine.StreamingModule.xml
Temp/bin/Debug/UnityEngine.StyleSheetsModule.dll
Temp/bin/Debug/UnityEngine.StyleSheetsModule.xml
Temp/bin/Debug/UnityEngine.SubstanceModule.dll
Temp/bin/Debug/UnityEngine.SubstanceModule.xml
Temp/bin/Debug/UnityEngine.TerrainModule.dll
Temp/bin/Debug/UnityEngine.TerrainModule.xml
Temp/bin/Debug/UnityEngine.TerrainPhysicsModule.dll
Temp/bin/Debug/UnityEngine.TerrainPhysicsModule.xml
Temp/bin/Debug/UnityEngine.TextRenderingModule.dll
Temp/bin/Debug/UnityEngine.TextRenderingModule.xml
Temp/bin/Debug/UnityEngine.TilemapModule.dll
Temp/bin/Debug/UnityEngine.TilemapModule.xml
Temp/bin/Debug/UnityEngine.Timeline.dll
Temp/bin/Debug/UnityEngine.Timeline.xml
Temp/bin/Debug/UnityEngine.TimelineModule.dll
Temp/bin/Debug/UnityEngine.TimelineModule.xml
Temp/bin/Debug/UnityEngine.TLSModule.dll
Temp/bin/Debug/UnityEngine.TLSModule.xml
Temp/bin/Debug/UnityEngine.UI.dll
Temp/bin/Debug/UnityEngine.UI.xml
Temp/bin/Debug/UnityEngine.UIElementsModule.dll
Temp/bin/Debug/UnityEngine.UIElementsModule.xml
Temp/bin/Debug/UnityEngine.UIModule.dll
Temp/bin/Debug/UnityEngine.UIModule.xml
Temp/bin/Debug/UnityEngine.UmbraModule.dll
Temp/bin/Debug/UnityEngine.UmbraModule.xml
Temp/bin/Debug/UnityEngine.UNETModule.dll
Temp/bin/Debug/UnityEngine.UNETModule.xml
Temp/bin/Debug/UnityEngine.UnityAnalyticsModule.dll
Temp/bin/Debug/UnityEngine.UnityAnalyticsModule.xml
Temp/bin/Debug/UnityEngine.UnityConnectModule.dll
Temp/bin/Debug/UnityEngine.UnityConnectModule.xml
Temp/bin/Debug/UnityEngine.UnityWebRequestAssetBundleModule.dll
Temp/bin/Debug/UnityEngine.UnityWebRequestAssetBundleModule.xml
Temp/bin/Debug/UnityEngine.UnityWebRequestAudioModule.dll
Temp/bin/Debug/UnityEngine.UnityWebRequestAudioModule.xml
Temp/bin/Debug/UnityEngine.UnityWebRequestModule.dll
Temp/bin/Debug/UnityEngine.UnityWebRequestModule.xml
Temp/bin/Debug/UnityEngine.UnityWebRequestTextureModule.dll
Temp/bin/Debug/UnityEngine.UnityWebRequestTextureModule.xml
Temp/bin/Debug/UnityEngine.UnityWebRequestWWWModule.dll
Temp/bin/Debug/UnityEngine.UnityWebRequestWWWModule.xml
Temp/bin/Debug/UnityEngine.VehiclesModule.dll
Temp/bin/Debug/UnityEngine.VehiclesModule.xml
Temp/bin/Debug/UnityEngine.VideoModule.dll
Temp/bin/Debug/UnityEngine.VideoModule.xml
Temp/bin/Debug/UnityEngine.VRModule.dll
Temp/bin/Debug/UnityEngine.VRModule.xml
Temp/bin/Debug/UnityEngine.WindModule.dll
Temp/bin/Debug/UnityEngine.WindModule.xml
Temp/bin/Debug/UnityEngine.xml
Temp/bin/Debug/UnityEngine.XRModule.dll
Temp/bin/Debug/UnityEngine.XRModule.xml
Temp/bin/Debug/UnityScript.dll
Temp/bin/Debug/UnityScript.Lang.dll
Temp/ProcessJobs/e4d7cdea9e7b674007a994e68f178ef6.bakert
Temp/ProcessJobs/e9a6970f79cd12d8b075e7d72f1b07cb.bakert
Temp/UnityLockfile
Temp/UnityTempFile-267adadfb6055854d86b382693b8148c
Temp/UnityTempFile-2c8894bb6738ec14c9933dfeb2bd533a
Temp/UnityTempFile-49a902303922dbc4aaf3b3dd2b5db00b
Temp/UnityTempFile-4aabdef0265a5cc419d8b449a4e1f0b7
Temp/UnityTempFile-6d83a84c3a02a4d449dd15a96eef2343
Temp/UnityTempFile-881d6a1c3adfbaa449c970f72db6b79d
Temp/UnityTempFile-8e1f2cbb84b6cd140a9873307a924356
Temp/UnityTempFile-92e6f81ef826e444989f25c1ab81f5c1
Temp/UnityTempFile-dd508d0c8639e3741ae8ee93dfdc21de
Temp/UnityTempFile-e03d1b34fdb5898489169cc5f8636a32
Temp/UnityTempFile-e87b0329010c2174283aa0d2f67b9767
Temp/UnityTempFile-e9ec655960c7986409bf60ad8edd46bf
Temp/UnityTempFile-ecfdb580b1ef2c54795a50a58ae8d19e
Library/assetDatabase3
Library/InspectorExpandedItems.asset
Library/metadata/74/746edc4bd37c1024993b12868edacec4
Library/metadata/7e/7e3d918ac05e0c2418e47b5a85d013e6.info
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/assetDatabase3
Library/InspectorExpandedItems.asset
Library/metadata/74/746edc4bd37c1024993b12868edacec4
Library/metadata/7e/7e3d918ac05e0c2418e47b5a85d013e6.info
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/InspectorExpandedItems.asset
Library/metadata/74/746edc4bd37c1024993b12868edacec4
Library/metadata/7e/7e3d918ac05e0c2418e47b5a85d013e6.info
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/assetDatabase3
Library/InspectorExpandedItems.asset
Library/metadata/74/746edc4bd37c1024993b12868edacec4
Library/metadata/7e/7e3d918ac05e0c2418e47b5a85d013e6.info
Library/metadata/bb/bb610028dd89ef14194bd2070834e0f1
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Temp/UnityTempFile-8ba79dd834c69f54db1c88f284e6a44b
Temp/UnityTempFile-9c8bf72cdb3b97246868d74ea663fba4
Library